robot_designer_plugin/resources/sdf1_6/physics.xsd

<?xml version='1.0' ?>
<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
    <xsd:annotation>
        <xsd:documentation xml:lang='en'>
            <![CDATA[The physics tag specifies the type and properties of the dynamics engine.]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:include schemaLocation='../../../robot_designer_plugin/resources/sdf1_6/types.xsd'/>
    <xsd:element name='physics'>
        <xsd:complexType>
            <xsd:choice maxOccurs='unbounded'>
                <xsd:choice  minOccurs='1' maxOccurs='1'>
                    <xsd:element name='max_step_size' type='xsd:double'>
                        <xsd:annotation>
                            <xsd:documentation xml:lang='en'>
                                <![CDATA[Maximum time step size at which every system in simulation can interact with the states of the world.  (was physics.sdf's dt).]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice  minOccurs='1' maxOccurs='1'>
                    <xsd:element name='real_time_factor' type='xsd:double'>
                        <xsd:annotation>
                            <xsd:documentation xml:lang='en'>
                                <![CDATA[target simulation speedup factor, defined by ratio of simulation time to real-time.]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice  minOccurs='1' maxOccurs='1'>
                    <xsd:element name='real_time_update_rate' type='xsd:double'>
                        <xsd:annotation>
                            <xsd:documentation xml:lang='en'>
                                <![CDATA[Rate at which to update the physics engine (UpdatePhysics calls per real-time second). (was physics.sdf's update_rate).]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='max_contacts' type='xsd:int'>
                        <xsd:annotation>
                            <xsd:documentation xml:lang='en'>
                                <![CDATA[Maximum number of contacts allowed between two entities. This value can be over ridden by a max_contacts element in a collision element.]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='dart'>
                        <xsd:annotation>
                            <xsd:documentation xml:lang='en'>
                                <![CDATA[DART specific physics properties]]>
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:choice maxOccurs='unbounded'>
                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='solver'>
                                        <xsd:complexType>
                                            <xsd:choice maxOccurs='unbounded'>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='solver_type' type='xsd:string'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[One of the following types: pgs, dantzig. PGS stands for Projected Gauss-Seidel.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                            </xsd:choice>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='collision_detector' type='xsd:string'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[Specify collision detector for DART to use. Can be dart, fcl, bullet or ode. ]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                            </xsd:choice>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='simbody'>
                        <xsd:annotation>
                            <xsd:documentation xml:lang='en'>
                                <![CDATA[Simbody specific physics properties]]>
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:choice maxOccurs='unbounded'>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='min_step_size' type='xsd:double'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[(Currently not used in simbody) The time duration which advances with each iteration of the dynamics engine, this has to be no bigger than max_step_size under physics block.  If left unspecified, min_step_size defaults to max_step_size.]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='accuracy' type='xsd:double'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[Roughly the relative error of the system.
        -LOG(accuracy) is roughly the number of significant digits.]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='max_transient_velocity' type='xsd:double'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[Tolerable "slip" velocity allowed by the solver when static
        friction is supposed to hold object in place.]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='contact'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[
        Relationship among dissipation, coef. restitution, etc.
        d = dissipation coefficient (1/velocity)
        vc = capture velocity (velocity where e=e_max)
        vp = plastic velocity (smallest v where e=e_min) > vc
        Assume real COR=1 when v=0.
        e_min = given minimum COR, at v >= vp (a.k.a. plastic_coef_restitution)
        d = slope = (1-e_min)/vp
        OR, e_min = 1 - d*vp
        e_max = maximum COR = 1-d*vc, reached at v=vc
        e = 0,                       v <= vc
          = 1 - d*v,               vc < v < vp
          = e_min,                   v >= vp

        dissipation factor = d*min(v,vp)   [compliant]
        cor = e                            [rigid]

        Combining rule e = 0,               e1==e2==0
                         = 2*e1*e2/(e1+e2), otherwise]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:choice maxOccurs='unbounded'>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='stiffness' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Default contact material stiffness
                     (force/dist or torque/radian).]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='dissipation' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[dissipation coefficient to be used in compliant contact;
    if not given it is (1-min_cor)/plastic_impact_velocity]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='plastic_coef_restitution' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[this is the COR to be used at high velocities for rigid
    impacts; if not given it is 1 - dissipation*plastic_impact_velocity
        ]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='plastic_impact_velocity' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[smallest impact velocity at which min COR is reached; set
      to zero if you want the min COR always to be used]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='static_friction' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[static friction (mu_s) as described by this plot: http://gazebosim.org/wiki/File:Stribeck_friction.png]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='dynamic_friction' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[dynamic friction (mu_d) as described by this plot: http://gazebosim.org/wiki/File:Stribeck_friction.png]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='viscous_friction' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[viscous friction (mu_v) with units of (1/velocity) as described by this plot: http://gazebosim.org/wiki/File:Stribeck_friction.png]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='override_impact_capture_velocity' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[for rigid impacts only, impact velocity at which
          COR is set to zero; normally inherited from global default but can
          be overridden here. Combining ruleOPENSIM: use larger velocity]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='stiction_transition_velocity' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[This is the largest slip velocity at which
           we'll consider a transition to stiction. Normally inherited
           from a global default setting. For a continuous friction model
           this is the velocity at which the max static friction force
           is reached.  Combining rule: use larger velocity]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                            </xsd:choice>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:choice>
                            </xsd:choice>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='opensim'>
                        <xsd:annotation>
                            <xsd:documentation xml:lang='en'>
                                <![CDATA[Opensim specific physics properties]]>
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:choice maxOccurs='unbounded'>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='integrator' type='xsd:string'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[The numerical integration method to use. Allowed values are rk_merson, rk3, rk2, semi_explicit_euler_fixed or semi_explicit_euler.]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='min_step_size' type='xsd:double'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[The time duration which advances with each iteration of the dynamics engine, this has to be no bigger than max_step_size under physics block.  If left unspecified, min_step_size defaults to max_step_size.]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='accuracy' type='xsd:double'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[Roughly the relative error of the system.
        -LOG(accuracy) is roughly the number of significant digits.]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='contact'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[
        Relationship among dissipation, coef. restitution, etc.
        d = dissipation coefficient (1/velocity)
        vc = capture velocity (velocity where e=e_max)
        vp = plastic velocity (smallest v where e=e_min) > vc
        Assume real COR=1 when v=0.
        e_min = given minimum COR, at v >= vp (a.k.a. plastic_coef_restitution)
        d = slope = (1-e_min)/vp
        OR, e_min = 1 - d*vp
        e_max = maximum COR = 1-d*vc, reached at v=vc
        e = 0,                       v <= vc
          = 1 - d*v,               vc < v < vp
          = e_min,                   v >= vp
  
        dissipation factor = d*min(v,vp)   [compliant]
        cor = e                            [rigid]
  
        Combining rule e = 0,               e1==e2==0
                         = 2*e1*e2/(e1+e2), otherwise]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:choice maxOccurs='unbounded'>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='stiffness' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Default contact material stiffness
                     (force/dist or torque/radian).]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='dissipation' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[dissipation coefficient to be used in compliant contact;
    if not given it is (1-min_cor)/plastic_impact_velocity]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='static_friction' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[static friction (mu_s) as described by this plot: http://gazebosim.org/wiki/File:Stribeck_friction.png]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='dynamic_friction' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[dynamic friction (mu_d) as described by this plot: http://gazebosim.org/wiki/File:Stribeck_friction.png]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='viscous_friction' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[viscous friction (mu_v) with units of (1/velocity) as described by this plot: http://gazebosim.org/wiki/File:Stribeck_friction.png]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='stiction_transition_velocity' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[This is the largest slip velocity at which
           we'll consider a transition to stiction. Normally inherited
           from a global default setting. For a continuous friction model
           this is the velocity at which the max static friction force
           is reached.  Combining rule: use larger velocity]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                            </xsd:choice>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:choice>
                            </xsd:choice>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='bullet'>
                        <xsd:annotation>
                            <xsd:documentation xml:lang='en'>
                                <![CDATA[Bullet specific physics properties]]>
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:choice maxOccurs='unbounded'>
                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='solver'>
                                        <xsd:complexType>
                                            <xsd:choice maxOccurs='unbounded'>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='type' type='xsd:string'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[One of the following types: sequential_impulse only.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='min_step_size' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[The time duration which advances with each iteration of the dynamics engine, this has to be no bigger than max_step_size under physics block.  If left unspecified, min_step_size defaults to max_step_size.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='iters' type='xsd:int'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Number of iterations for each step. A higher number produces greater accuracy at a performance cost.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='sor' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Set the successive over-relaxation parameter.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                            </xsd:choice>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='constraints'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[Bullet constraint parameters.]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:choice maxOccurs='unbounded'>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='cfm' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Constraint force mixing parameter. See the ODE page for more information.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='erp' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Error reduction parameter. See the ODE page for more information.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='contact_surface_layer' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[The depth of the surface layer around all geometry objects. Contacts are allowed to sink into the surface layer up to the given depth before coming to rest. The default value is zero. Increasing this to some small value (e.g. 0.001) can help prevent jittering problems due to contacts being repeatedly made and broken.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='split_impulse' type='xsd:boolean'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Similar to ODE's max_vel implementation. See http://web.archive.org/web/20120430155635/http://bulletphysics.org/mediawiki-1.5.8/index.php/BtContactSolverInfo#Split_Impulse for more information.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='split_impulse_penetration_threshold' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Similar to ODE's max_vel implementation.  See http://web.archive.org/web/20120430155635/http://bulletphysics.org/mediawiki-1.5.8/index.php/BtContactSolverInfo#Split_Impulse for more information.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                            </xsd:choice>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:choice>
                            </xsd:choice>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='ode'>
                        <xsd:annotation>
                            <xsd:documentation xml:lang='en'>
                                <![CDATA[ODE specific physics properties]]>
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:choice maxOccurs='unbounded'>
                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='solver'>
                                        <xsd:complexType>
                                            <xsd:choice maxOccurs='unbounded'>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='type' type='xsd:string'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[One of the following types: world, quick]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='min_step_size' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[The time duration which advances with each iteration of the dynamics engine, this has to be no bigger than max_step_size under physics block.  If left unspecified, min_step_size defaults to max_step_size.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='island_threads' type='xsd:int'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Number of threads to use for "islands" of disconnected models.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='iters' type='xsd:int'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Number of iterations for each step. A higher number produces greater accuracy at a performance cost.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='precon_iters' type='xsd:int'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Experimental parameter.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='sor' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Set the successive over-relaxation parameter.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='thread_position_correction' type='xsd:boolean'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Flag to use threading to speed up position correction computation.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='use_dynamic_moi_rescaling' type='xsd:boolean'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[
          Flag to enable dynamic rescaling of moment of inertia in constrained directions.
          See gazebo pull request 1114 for the implementation of this feature.
          https://bitbucket.org/osrf/gazebo/pull-request/1114
        ]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='friction_model' type='xsd:string'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[
          Name of ODE friction model to use. Valid values include:

          pyramid_model: (default) friction forces limited in two directions
          in proportion to normal force.
          box_model: friction forces limited to constant in two directions.
          cone_model: friction force magnitude limited in proportion to normal force.

          See gazebo pull request 1522 for the implementation of this feature.
          https://bitbucket.org/osrf/gazebo/pull-request/1522
          https://bitbucket.org/osrf/gazebo/commits/8c05ad64967c
        ]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                            </xsd:choice>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='constraints'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[ODE constraint parameters.]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:choice maxOccurs='unbounded'>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='cfm' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Constraint force mixing parameter. See the ODE page for more information.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='erp' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Error reduction parameter. See the ODE page for more information.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='contact_max_correcting_vel' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[The maximum correcting velocities allowed when resolving contacts.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='contact_surface_layer' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[The depth of the surface layer around all geometry objects. Contacts are allowed to sink into the surface layer up to the given depth before coming to rest. The default value is zero. Increasing this to some small value (e.g. 0.001) can help prevent jittering problems due to contacts being repeatedly made and broken.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                            </xsd:choice>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:choice>
                            </xsd:choice>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
            </xsd:choice>
            <xsd:attribute name='name' type='xsd:string' use='optional' default='default_physics'>
                <xsd:annotation>
                    <xsd:documentation xml:lang='en'>
                        <![CDATA[The name of this set of physics parameters.]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name='default' type='xsd:boolean' use='optional' default='false'>
                <xsd:annotation>
                    <xsd:documentation xml:lang='en'>
                        <![CDATA[If true, this physics element is set as the default physics profile for the world. If multiple default physics elements exist, the first element marked as default is chosen. If no default physics element exists, the first physics element is chosen.]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name='type' type='xsd:string' use='required' >
                <xsd:annotation>
                    <xsd:documentation xml:lang='en'>
                        <![CDATA[The type of the dynamics engine. Current options are ode, bullet, simbody, opensim and dart.  Defaults to ode if left unspecified.]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
