robot_designer_plugin/resources/sdf1_6/surface.xsd

<?xml version='1.0' ?>
<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
    <xsd:annotation>
        <xsd:documentation xml:lang='en'>
            <![CDATA[The surface parameters]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:include schemaLocation='../../../robot_designer_plugin/resources/sdf1_6/types.xsd'/>
    <xsd:element name='surface'>
        <xsd:complexType>
            <xsd:choice maxOccurs='unbounded'>
                <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='bounce'>
                        <xsd:complexType>
                            <xsd:choice maxOccurs='unbounded'>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='restitution_coefficient' type='xsd:double'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[Bounciness coefficient of restitution, from [0...1], where 0=no bounciness.]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='threshold' type='xsd:double'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[Bounce capture velocity, below which effective coefficient of restitution is 0.]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                            </xsd:choice>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='friction'>
                        <xsd:complexType>
                            <xsd:choice maxOccurs='unbounded'>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='torsional'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[Parameters for torsional friction]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:choice maxOccurs='unbounded'>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='coefficient' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[
          Torsional friction coefficient, unitless maximum ratio of
          tangential stress to normal stress.
        ]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='use_patch_radius' type='xsd:boolean'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[
          If this flag is true,
          torsional friction is calculated using the "patch_radius" parameter.
          If this flag is set to false,
          "surface_radius" (R) and contact depth (d)
          are used to compute the patch radius as sqrt(R*d).
        ]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='patch_radius' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Radius of contact patch surface.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='surface_radius' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Surface radius on the point of contact.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='ode'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Torsional friction parameters for ODE]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:choice maxOccurs='unbounded'>
                                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                                    <xsd:element name='slip' type='xsd:double'>
                                                                        <xsd:annotation>
                                                                            <xsd:documentation xml:lang='en'>
                                                                                <![CDATA[
            Force dependent slip for torsional friction,
            equivalent to inverse of viscous damping coefficient
            with units of rad/s/(Nm).
            A slip value of 0 is infinitely viscous.
          ]]>
                                                                            </xsd:documentation>
                                                                        </xsd:annotation>
                                                                    </xsd:element>
                                                                </xsd:choice>
                                                            </xsd:choice>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:choice>
                                            </xsd:choice>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='ode'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[ODE friction parameters]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:choice maxOccurs='unbounded'>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='mu' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[
          Coefficient of friction in first friction pyramid direction,
          the unitless maximum ratio of force in first friction pyramid
          direction to normal force.
        ]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='mu2' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[
          Coefficient of friction in second friction pyramid direction,
          the unitless maximum ratio of force in second friction pyramid
          direction to normal force.
        ]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='fdir1' type='vector3'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[
          Unit vector specifying first friction pyramid direction in
          collision-fixed reference frame.
          If the friction pyramid model is in use,
          and this value is set to a unit vector for one of the
          colliding surfaces,
          the ODE Collide callback function will align the friction pyramid directions
          with a reference frame fixed to that collision surface.
          If both surfaces have this value set to a vector of zeros,
          the friction pyramid directions will be aligned with the world frame.
          If this value is set for both surfaces, the behavior is undefined.
        ]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='slip1' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[
          Force dependent slip in first friction pyramid direction,
          equivalent to inverse of viscous damping coefficient
          with units of m/s/N.
          A slip value of 0 is infinitely viscous.
        ]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='slip2' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[
          Force dependent slip in second friction pyramid direction,
          equivalent to inverse of viscous damping coefficient
          with units of m/s/N.
          A slip value of 0 is infinitely viscous.
        ]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                            </xsd:choice>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='bullet'>
                                        <xsd:complexType>
                                            <xsd:choice maxOccurs='unbounded'>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='friction' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[
          Coefficient of friction in first friction pyramid direction,
          the unitless maximum ratio of force in first friction pyramid
          direction to normal force.
        ]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='friction2' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[
          Coefficient of friction in second friction pyramid direction,
          the unitless maximum ratio of force in second friction pyramid
          direction to normal force.
        ]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='fdir1' type='vector3'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[
          Unit vector specifying first friction pyramid direction in
          collision-fixed reference frame.
          If the friction pyramid model is in use,
          and this value is set to a unit vector for one of the
          colliding surfaces,
          the friction pyramid directions will be aligned
          with a reference frame fixed to that collision surface.
          If both surfaces have this value set to a vector of zeros,
          the friction pyramid directions will be aligned with the world frame.
          If this value is set for both surfaces, the behavior is undefined.
        ]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='rolling_friction' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Coefficient of rolling friction]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                            </xsd:choice>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='opensim'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[OpenSim friction parameters]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:choice maxOccurs='unbounded'>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='static_friction' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Static friction coefficient. See Simbody manual.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='dynamic_friction' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Dynamic friction coefficient. See Simbody manual.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='viscous_friction' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Viscous friction coefficient. See Simbody manual.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='stiction_transition_velocity' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Static and dynamic friction rise as a function of the tangential velocity
        up to the transition velocity from where on they approach asymptotically a constant value.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                            </xsd:choice>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:choice>
                            </xsd:choice>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='contact'>
                        <xsd:complexType>
                            <xsd:choice maxOccurs='unbounded'>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='collide_without_contact' type='xsd:boolean'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[Flag to disable contact force generation, while still allowing collision checks and contact visualization to occur.]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='collide_without_contact_bitmask' type='xsd:unsignedInt'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[Bitmask for collision filtering when collide_without_contact is on ]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='collide_bitmask' type='xsd:unsignedInt'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[Bitmask for collision filtering. This will override collide_without_contact]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='category_bitmask' type='xsd:unsignedInt'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[Bitmask for category of collision filtering. Collision happens if ((category1 & collision2) | (category2 & collision1)) is not zero. If not specified, the category_bitmask should be interpreted as being the same as collide_bitmask.]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='poissons_ratio' type='xsd:double'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[
        Poisson's ratio is the unitless ratio between transverse and axial strain.
        This value must lie between (-1, 0.5).  Defaults to 0.3 for typical steel.
        Note typical silicone elastomers have Poisson's ratio near 0.49 ~ 0.50.

        For reference, approximate values for Material:(Young's Modulus, Poisson's Ratio)
        for some of the typical materials are:
          Plastic:  (1e8 ~ 3e9 Pa,  0.35 ~ 0.41),
          Wood:     (4e9 ~ 1e10 Pa, 0.22 ~ 0.50),
          Aluminum: (7e10 Pa,       0.32 ~ 0.35),
          Steel:    (2e11 Pa,       0.26 ~ 0.31).
      ]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='elastic_modulus' type='xsd:double'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[
        Young's Modulus in SI derived unit Pascal.
        Defaults to -1.  If value is less or equal to zero,
        contact using elastic modulus (with Poisson's Ratio) is disabled.

        For reference, approximate values for Material:(Young's Modulus, Poisson's Ratio)
        for some of the typical materials are:
          Plastic:  (1e8 ~ 3e9 Pa,  0.35 ~ 0.41),
          Wood:     (4e9 ~ 1e10 Pa, 0.22 ~ 0.50),
          Aluminum: (7e10 Pa,       0.32 ~ 0.35),
          Steel:    (2e11 Pa,       0.26 ~ 0.31).
      ]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='opensim'>
                                        <xsd:complexType>
                                            <xsd:choice maxOccurs='unbounded'>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='stiffness' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[
          According to the SimbodyTheoryManual: stiffness = E* = E/(1 - v*v),
          is the plane-strain modulus, where E is the Young's modulus and v is Poisson's ratio.
        ]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='dissipation' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[
          The dissipation coefficient c can be estimated as the slope of the coefficient of
          restitution-vs-velocity curve at low velocities: e = 1. - c * v_i with impact velocity v_i.
        ]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                            </xsd:choice>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='ode'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[ODE contact parameters]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:choice maxOccurs='unbounded'>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='soft_cfm' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Soft constraint force mixing.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='soft_erp' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Soft error reduction parameter]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='kp' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[dynamically "stiffness"-equivalent coefficient for contact joints]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='kd' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[dynamically "damping"-equivalent coefficient for contact joints]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='max_vel' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[maximum contact correction velocity truncation term.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='min_depth' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[minimum allowable depth before contact correction impulse is applied]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                            </xsd:choice>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='bullet'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[Bullet contact parameters]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:choice maxOccurs='unbounded'>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='soft_cfm' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Soft constraint force mixing.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='soft_erp' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Soft error reduction parameter]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='kp' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[dynamically "stiffness"-equivalent coefficient for contact joints]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                                    <xsd:element name='kd' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[dynamically "damping"-equivalent coefficient for contact joints]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='split_impulse' type='xsd:boolean'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Similar to ODE's max_vel implementation.  See http://bulletphysics.org/mediawiki-1.5.8/index.php/BtContactSolverInfo#Split_Impulse for more information.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='split_impulse_penetration_threshold' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Similar to ODE's max_vel implementation.  See http://bulletphysics.org/mediawiki-1.5.8/index.php/BtContactSolverInfo#Split_Impulse for more information.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                            </xsd:choice>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:choice>
                            </xsd:choice>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='soft_contact'>
                        <xsd:complexType>
                            <xsd:choice maxOccurs='unbounded'>
                                <xsd:choice  minOccurs='0' maxOccurs='1'>
                                    <xsd:element name='dart'>
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang='en'>
                                                <![CDATA[soft contact pamameters based on paper:
             http://www.cc.gatech.edu/graphics/projects/Sumit/homepage/papers/sigasia11/jain_softcontacts_siga11.pdf
      ]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:choice maxOccurs='unbounded'>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='bone_attachment' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[This is variable k_v in the soft contacts paper.  Its unit is N/m.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='stiffness' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[This is variable k_e in the soft contacts paper.  Its unit is N/m.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='damping' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Viscous damping of point velocity in body frame.  Its unit is N/m/s.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                                <xsd:choice  minOccurs='1' maxOccurs='1'>
                                                    <xsd:element name='flesh_mass_fraction' type='xsd:double'>
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang='en'>
                                                                <![CDATA[Fraction of mass to be distributed among deformable nodes.]]>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:choice>
                                            </xsd:choice>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:choice>
                            </xsd:choice>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
            </xsd:choice>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
