resources/urdf.xsd

<?xml version="1.0" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">

  <!-- ################################### link specific definitions ################################### -->

  <!-- pose node type -->
  <xs:complexType name="PoseType">
    <xs:attribute name="xyz" type="xs:string" default="0 0 0" />
    <xs:attribute name="rpy" type="xs:string" default="0 0 0" />
  </xs:complexType>

  <!-- color node type -->
  <xs:complexType name="ColorType">
    <xs:attribute name="rgba" type="xs:string" default="0 0 0 0" />
  </xs:complexType>

  <!-- verbose node type -->
  <xs:complexType name="VerboseType">
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>

  <!-- mass node type -->
  <xs:complexType name="MassType">
    <xs:attribute name="value" type="xs:double" default="0" />
  </xs:complexType>

  <!-- inertia node type -->
  <xs:complexType name="InertiaType">
    <xs:attribute name="ixx" type="xs:double" default="0" />
    <xs:attribute name="ixy" type="xs:double" default="0" />
    <xs:attribute name="ixz" type="xs:double" default="0" />
    <xs:attribute name="iyy" type="xs:double" default="0" />
    <xs:attribute name="iyz" type="xs:double" default="0" />
    <xs:attribute name="izz" type="xs:double" default="0" />
  </xs:complexType>

  <!-- inertial node type -->
  <xs:complexType name="InertialType">
    <xs:all>
      <xs:element name="origin"  type="PoseType"    minOccurs="0" maxOccurs="1"/>
      <xs:element name="mass"    type="MassType"    minOccurs="0" maxOccurs="1"/>
      <xs:element name="inertia" type="InertiaType" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <!-- box node type -->
  <xs:complexType name="BoxType">
    <xs:attribute name="size" type="xs:string" default="0 0 0" />
  </xs:complexType>

  <!-- cylinder node type -->
  <xs:complexType name="CylinderType">
    <xs:attribute name="radius" type="xs:double" use="required" />
    <xs:attribute name="length" type="xs:double" use="required" />
  </xs:complexType>

  <!-- sphere node type -->
  <xs:complexType name="SphereType">
    <xs:attribute name="radius" type="xs:double" use="required" />
  </xs:complexType>

  <!-- mesh node type -->
  <xs:complexType name="MeshType">
    <xs:attribute name="filename" type="xs:anyURI" use="required" />
    <xs:attribute name="scale"    type="xs:string" default="1 1 1" />
  </xs:complexType>

  <!-- geometry node type -->
  <xs:complexType name="GeometryType">
    <xs:choice>
      <xs:element name="box"      type="BoxType" />
      <xs:element name="cylinder" type="CylinderType" />
      <xs:element name="sphere"   type="SphereType" />
      <xs:element name="mesh"     type="MeshType" />
    </xs:choice>
  </xs:complexType>

  <!-- texture node type -->
  <xs:complexType name="TextureType">
    <xs:attribute name="filename" type="xs:anyURI" />
  </xs:complexType>

  <!-- material node type -->
  <xs:complexType name="MaterialType">
    <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="color"   type="ColorType"   />
          <xs:element name="texture" type="TextureType" />
        </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>

  <!-- visual node type -->
  <xs:complexType name="VisualType">
    <xs:all>
      <xs:element name="origin"   type="PoseType"     minOccurs="0" maxOccurs="1" />
      <xs:element name="geometry" type="GeometryType" minOccurs="0" maxOccurs="1" />
      <xs:element name="material" type="MaterialType" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>

  <!-- contact node type -->
  <xs:complexType name="ContactType">
    <xs:attribute name="mu" type="xs:double" default="0" /> <!-- The friction coefficient -->
    <xs:attribute name="kp" type="xs:double" default="0" /> <!-- Stiffness coefficient -->
    <xs:attribute name="kd" type="xs:double" default="0" /> <!-- Dampening coefficient -->
  </xs:complexType>

  <!-- collision node type -->
  <xs:complexType name="CollisionType">
    <xs:all>
      <xs:element name="origin"               type="PoseType"     minOccurs="0" maxOccurs="1" />
      <xs:element name="geometry"             type="GeometryType" minOccurs="1" maxOccurs="1" />
      <xs:element name="contact_coefficients" type="ContactType"  minOccurs="0" maxOccurs="1" />
      <xs:element name="verbose"              type="VerboseType"  minOccurs="0" maxOccurs="1" />
      <xs:element name="material"             type="MaterialType" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>

  <!-- link node type -->
  <xs:complexType name="LinkType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="origin"    type="PoseType"      minOccurs="0" maxOccurs="1" />
      <xs:element name="inertial"  type="InertialType"  minOccurs="0" maxOccurs="1"/>
      <xs:element name="visual"    type="VisualType"    minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="collision" type="CollisionType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <!-- ################################### joint specific definitions ################################### -->

  <!-- parent node type -->
  <xs:complexType name="ParentType">
    <xs:attribute name="link" type="xs:string" use="required" />
  </xs:complexType>

  <!-- child node type -->
  <xs:complexType name="ChildType">
    <xs:attribute name="link" type="xs:string" use="required" />
  </xs:complexType>

  <!-- axis node type -->
  <xs:complexType name="AxisType">
    <xs:attribute name="xyz" type="xs:string" default="1 0 0" />
  </xs:complexType>

  <!-- calibration node type -->
  <xs:complexType name="CalibrationType">
    <xs:attribute name="reference_position" type="xs:double"/>
    <xs:attribute name="rising"             type="xs:double"/>
    <xs:attribute name="falling"            type="xs:double"/>
  </xs:complexType>

  <!-- dynamics node type -->
  <xs:complexType name="DynamicsType">
    <xs:attribute name="damping"  type="xs:double" default="0" />
    <xs:attribute name="friction" type="xs:double" default="0" />
  </xs:complexType>

  <!-- limit node type -->
  <xs:complexType name="LimitType">
    <xs:attribute name="lower"    type="xs:double" default="0" />
    <xs:attribute name="upper"    type="xs:double" default="0" />
    <xs:attribute name="effort"   type="xs:double" default="0" />
    <xs:attribute name="velocity" type="xs:double" default="0" />
  </xs:complexType>

  <!-- safety controller node type -->
  <xs:complexType name="SafetyControllerType">
    <xs:attribute name="soft_lower_limit" type="xs:double" default="0" />
    <xs:attribute name="soft_upper_limit" type="xs:double" default="0" />
    <xs:attribute name="k_position"       type="xs:double" default="0" />
    <xs:attribute name="k_velocity"       type="xs:double" use="required" />
  </xs:complexType>

  <!-- mimic node type -->
  <xs:complexType name="MimicType">
    <xs:attribute name="joint"      type="xs:string" use="required" />
    <xs:attribute name="multiplier" type="xs:double" default="1" />
    <xs:attribute name="offset"     type="xs:double" default="0" />
  </xs:complexType>

  <!-- joint node type -->
  <xs:complexType name="JointType">
    <xs:all>
      <xs:element name="origin"            type="PoseType"             minOccurs="0" maxOccurs="1" />
      <xs:element name="parent"            type="ParentType"           minOccurs="1" maxOccurs="1" />
      <xs:element name="child"             type="ChildType"            minOccurs="1" maxOccurs="1" />
      <xs:element name="axis"              type="AxisType"             minOccurs="0" maxOccurs="1" />
      <xs:element name="calibration"       type="CalibrationType"      minOccurs="0" maxOccurs="1" />
      <xs:element name="dynamics"          type="DynamicsType"         minOccurs="0" maxOccurs="1" />
      <xs:element name="limit"             type="LimitType"            minOccurs="0" maxOccurs="1" />
      <xs:element name="safety_controller" type="SafetyControllerType" minOccurs="0" maxOccurs="1" />
      <xs:element name="mimic"             type="MimicType"            minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="type" type="xs:string" use="required" />
  </xs:complexType>

  <!-- ################################### transmission definitions ################################### -->

  <!-- actuator transmission node type -->
  <xs:complexType name="ActuatorTransmissionType">
    <xs:all>
      <xs:element name="hardwareInterface"   type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="mechanicalReduction" type="xs:double" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <!-- joint transmission node type -->
  <xs:complexType name="JointTransmissionType">
    <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="hardwareInterface" type="xs:string"/>
        </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <!-- transmission node type -->
  <xs:complexType name="TransmissionType">
    <xs:all>
      <xs:element name="type"     type="xs:string" />
      <xs:element name="actuator" type="ActuatorTransmissionType" minOccurs="0" maxOccurs="1" />
      <xs:element name="joint"    type="JointTransmissionType"    minOccurs="0" maxOccurs="1"/>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <!-- ################################# gazebo specific definitions ################################ -->

  <!-- enum for controller types -->
  <xs:simpleType name="ControllerEnumType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="position"/>
      <xs:enumeration value="velocity"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- gazebo plugin node type -->
  <xs:complexType name="GazeboPluginBaseType">
    <xs:attribute name="filename" type="xs:string" />
    <xs:attribute name="name"     type="xs:string" />
  </xs:complexType>

  <!-- gazebo controler type -->
  <xs:complexType name="GenericControllerPluginDefType">
    <xs:sequence>
      <xs:element name="type" type="ControllerEnumType" minOccurs="1" maxOccurs="1" />
      <xs:element name="pid" type="xs:string" default="0 0 0" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="joint_name" type="xs:string" />
  </xs:complexType>

  <!-- gazebo plugin type -->
  <xs:complexType name="GazeboPluginType">
    <xs:complexContent>
      <xs:extension base="GazeboPluginBaseType">
          <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="robotNamespace" type="xs:string" />
                <xs:element name="robotSimType"   type="xs:string" />
                <xs:element name="robotParam"   type="xs:string" />
                <xs:element name="controller" type="GenericControllerPluginDefType"/>
              </xs:choice>
          </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- gazebo plugin node type -->
  <xs:complexType name="GazeboCameraPluginType">
    <xs:complexContent>
      <xs:extension base="GazeboPluginBaseType">
        <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="baseline"                       type="xs:double" minOccurs="0" maxOccurs="1" />
                  <xs:element name="alwaysOn"                       type="xs:boolean" minOccurs="0" maxOccurs="1" />
                  <xs:element name="updateRate"                     type="xs:double"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="cameraName"                     type="xs:string"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="imageTopicName"                 type="xs:string"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="depthImageTopicName"            type="xs:string"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="cameraInfoTopicName"            type="xs:string"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="depthImageCameraInfoTopicName"  type="xs:string"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="frameName"                      type="xs:string"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="hackBaseline"                   type="xs:double"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="distortionK1"                   type="xs:double"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="distortionK2"                   type="xs:double"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="distortionK3"                   type="xs:double"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="distortionT1"                   type="xs:double"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="distortionT2"                   type="xs:double"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="CxPrime"                        type="xs:double"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="Cx"                             type="xs:double"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="Cy"                             type="xs:double"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="focalLength"                    type="xs:double"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="pointCloudCutoff"               type="xs:double"  minOccurs="0" maxOccurs="1" />
                  <xs:element name="pointCloudTopicName"            type="xs:string"  minOccurs="0" maxOccurs="1" />
            </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- gazebo image type -->
  <xs:complexType name="ImageType">
    <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="width"  type="xs:integer" minOccurs="1" maxOccurs="1" />
          <xs:element name="height" type="xs:integer" minOccurs="1" maxOccurs="1" />
          <xs:element name="format" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <!-- gazebo image type -->
  <xs:complexType name="ClipType">
    <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="near" type="xs:double" minOccurs="1" maxOccurs="1" />
          <xs:element name="far"  type="xs:double" minOccurs="1" maxOccurs="1" />
        </xs:choice>
    </xs:sequence>
  </xs:complexType>

    <!-- gazebo noise type -->
  <xs:complexType name="NoiseType">
    <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="type"   type="xs:string" minOccurs="1" maxOccurs="1" />
          <xs:element name="mean"   type="xs:double" minOccurs="1" maxOccurs="1" />
          <xs:element name="stddev" type="xs:double" minOccurs="1" maxOccurs="1" />
        </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <!-- gazebo camera type -->
  <xs:complexType name="CameraType">
    <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="horizontal_fov" type="xs:double" minOccurs="0" maxOccurs="1" />
          <xs:element name="image"          type="ImageType" minOccurs="0" maxOccurs="1" />
          <xs:element name="clip"           type="ClipType"  minOccurs="0" maxOccurs="1" />
          <xs:element name="noise"          type="NoiseType" minOccurs="0" maxOccurs="1" />
        </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <!-- gazebo sensor base type -->
  <xs:complexType name="GazeboSensorBaseType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="pose"        type="xs:string"   minOccurs="0" maxOccurs="1" default="0 0 0 0 0 0"/>
          <xs:element name="update_rate" type="xs:double"   minOccurs="0" maxOccurs="1" default="0"/>
        </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="type" type="xs:string" use="required" />
  </xs:complexType>

  <!-- gazebo sensor type -->
  <xs:complexType name="GazeboSensorType">
    <xs:complexContent>
      <xs:extension base="GazeboSensorBaseType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="camera" type="CameraType" minOccurs="0" maxOccurs="1" />
              <xs:element name="plugin" type="GazeboCameraPluginType" minOccurs="0" maxOccurs="1" />
            </xs:choice>
          <!-- TODO: add more gazebo plugins -->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- gazebo material type -->
  <xs:complexType name="GazeboMaterialType">
    <xs:attribute name="value" type="xs:string" use="required" />
  </xs:complexType>

  <!-- gazebo base type -->
  <xs:complexType name="GazeboType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="plugin"         type="GazeboPluginType" />
          <xs:element name="sensor"         type="GazeboSensorType"    />
          <xs:element name="material"       type="GazeboMaterialType"  />
          <xs:element name="gravity"        type="xs:boolean"          />
          <xs:element name="self_collide"   type="xs:boolean"         />
    </xs:choice>
    <xs:attribute name="reference" type="xs:string" />
  </xs:complexType>

  <!-- ##################################### robot root element ##################################### -->

  <!-- root node is always robot -->
  <xs:element name="robot" type="RobotType"/>
  <xs:complexType name="RobotType">
    <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="joint"        type="JointType"        />
          <xs:element name="link"         type="LinkType"         />
          <xs:element name="transmission" type="TransmissionType" />
          <xs:element name="gazebo"       type="GazeboType"       />
          <xs:element name="material"     type="MaterialType"     />
        </xs:choice>
    </xs:sequence>
    <xs:attribute name="name"    type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" default="1.0" />
  </xs:complexType>


</xs:schema>


