robot_designer_plugin/resources/xsd_sdf/imu.xsd

<?xml version="1.0" ?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      <![CDATA[These elements are specific to the IMU sensor.]]>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:include schemaLocation="../../../robot_designer_plugin/resources/xsd_sdf/types.xsd"/>
  <xsd:element name="imu">
    <xsd:complexType>
      <xsd:choice maxOccurs="unbounded">
        <xsd:choice maxOccurs="1" minOccurs="0">
        <xsd:element name="topic" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <![CDATA[Topic on which data is published.]]>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        </xsd:choice>
        <xsd:choice maxOccurs="1" minOccurs="0">
        <xsd:element name="angular_velocity">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <![CDATA[These elements are specific to body-frame angular velocity,
    which is expressed in radians per second]]>
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:choice maxOccurs="unbounded">
              <xsd:choice maxOccurs="1" minOccurs="0">
              <xsd:element name="x">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    <![CDATA[Angular velocity about the X axis]]>
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:choice maxOccurs="unbounded">
                  </xsd:choice>
                </xsd:complexType>
              </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
              <xsd:element name="y">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    <![CDATA[Angular velocity about the Y axis]]>
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:choice maxOccurs="unbounded">
                  </xsd:choice>
                </xsd:complexType>
              </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
              <xsd:element name="z">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    <![CDATA[Angular velocity about the Z axis]]>
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:choice maxOccurs="unbounded">
                  </xsd:choice>
                </xsd:complexType>
              </xsd:element>
              </xsd:choice>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        </xsd:choice>
        <xsd:choice maxOccurs="1" minOccurs="0">
        <xsd:element name="linear_acceleration">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <![CDATA[These elements are specific to body-frame linear acceleration,
    which is expressed in meters per second squared]]>
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:choice maxOccurs="unbounded">
              <xsd:choice maxOccurs="1" minOccurs="0">
              <xsd:element name="x">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    <![CDATA[Linear acceleration about the X axis]]>
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:choice maxOccurs="unbounded">
                  </xsd:choice>
                </xsd:complexType>
              </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
              <xsd:element name="y">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    <![CDATA[Linear acceleration about the Y axis]]>
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:choice maxOccurs="unbounded">
                  </xsd:choice>
                </xsd:complexType>
              </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="0">
              <xsd:element name="z">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    <![CDATA[Linear acceleration about the Z axis]]>
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:choice maxOccurs="unbounded">
                  </xsd:choice>
                </xsd:complexType>
              </xsd:element>
              </xsd:choice>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        </xsd:choice>
        <xsd:choice maxOccurs="1" minOccurs="0">
        <xsd:element name="noise">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <![CDATA[The properties of the noise model that should be applied to generated data]]>
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:choice maxOccurs="unbounded">
              <xsd:choice maxOccurs="1" minOccurs="1">
              <xsd:element name="type" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    <![CDATA[The type of noise.  Currently supported types are: "gaussian" (draw noise values independently for each beam from a Gaussian distribution).]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
              <xsd:element name="rate">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    <![CDATA[Noise parameters for angular rates.]]>
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:choice maxOccurs="unbounded">
                    <xsd:choice maxOccurs="1" minOccurs="0">
                    <xsd:element name="mean" type="xsd:double">
                      <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                          <![CDATA[For type "gaussian," the mean of the Gaussian distribution from which noise values are drawn.]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                    <xsd:element name="stddev" type="xsd:double">
                      <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                          <![CDATA[For type "gaussian," the standard deviation of the Gaussian distribution from which noise values are drawn.]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                    <xsd:element name="bias_mean" type="xsd:double">
                      <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                          <![CDATA[For type "gaussian," the mean of the Gaussian distribution from which bias values are drawn.]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                    <xsd:element name="bias_stddev" type="xsd:double">
                      <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                          <![CDATA[For type "gaussian," the standard deviation of the Gaussian distribution from which bias values are drawn.]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                  </xsd:choice>
                </xsd:complexType>
              </xsd:element>
              </xsd:choice>
              <xsd:choice maxOccurs="1" minOccurs="1">
              <xsd:element name="accel">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    <![CDATA[Noise parameters for linear accelerations.]]>
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:choice maxOccurs="unbounded">
                    <xsd:choice maxOccurs="1" minOccurs="0">
                    <xsd:element name="mean" type="xsd:double">
                      <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                          <![CDATA[For type "gaussian," the mean of the Gaussian distribution from which noise values are drawn.]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                    <xsd:element name="stddev" type="xsd:double">
                      <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                          <![CDATA[For type "gaussian," the standard deviation of the Gaussian distribution from which noise values are drawn.]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                    <xsd:element name="bias_mean" type="xsd:double">
                      <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                          <![CDATA[For type "gaussian," the mean of the Gaussian distribution from which bias values are drawn.]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice maxOccurs="1" minOccurs="0">
                    <xsd:element name="bias_stddev" type="xsd:double">
                      <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                          <![CDATA[For type "gaussian," the standard deviation of the Gaussian distribution from which bias values are drawn.]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                  </xsd:choice>
                </xsd:complexType>
              </xsd:element>
              </xsd:choice>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        </xsd:choice>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>