resources/sdf/Model/sdf/sdf16_xsd/camera.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[These elements are specific to camera sensors.]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:include schemaLocation="../../../robot_designer_plugin/resources/xsd_sdf/types.xsd"/>
    <xsd:element name="camera">
        <xsd:complexType>
            <xsd:choice maxOccurs="unbounded">
                <xsd:choice maxOccurs="1" minOccurs="0">
                    <xsd:element name="pose" type="pose">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">
                                <![CDATA[A position and orientation in the parent coordinate frame for the camera.]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice maxOccurs="1" minOccurs="1">
                    <xsd:element name="horizontal_fov" type="xsd:double">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">
                                <![CDATA[Horizontal field of view]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice maxOccurs="1" minOccurs="1">
                    <xsd:element name="image">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">
                                <![CDATA[The image size in pixels and format.]]>
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:choice maxOccurs="unbounded">
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                    <xsd:element name="width" type="xsd:int">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">
                                                <![CDATA[Width in pixels]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                    <xsd:element name="height" type="xsd:int">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">
                                                <![CDATA[Height in pixels ]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="0">
                                    <xsd:element name="format" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">
                                                <![CDATA[(L8|R8G8B8|B8G8R8|BAYER_RGGB8|BAYER_BGGR8|BAYER_GBRG8|BAYER_GRBG8)]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                            </xsd:choice>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice maxOccurs="1" minOccurs="1">
                    <xsd:element name="clip">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">
                                <![CDATA[The near and far clip planes. Objects closer or farther than these planes are not rendered.]]>
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:choice maxOccurs="unbounded">
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                    <xsd:element name="near" type="xsd:double">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">
                                                <![CDATA[Near clipping plane]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                    <xsd:element name="far" type="xsd:double">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">
                                                <![CDATA[Far clipping plane]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                            </xsd:choice>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice maxOccurs="1" minOccurs="0">
                    <xsd:element name="save">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">
                                <![CDATA[Enable or disable saving of camera frames.]]>
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:choice maxOccurs="unbounded">
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                    <xsd:element name="path" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">
                                                <![CDATA[The path name which will hold the frame data. If path name is relative, then directory is relative to current working directory.]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                            </xsd:choice>
                            <xsd:attribute name="enabled" type="xsd:boolean" use="required">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <![CDATA[True = saving enabled]]>
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:attribute>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice maxOccurs="1" minOccurs="0">
                    <xsd:element name="depth_camera">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">
                                <![CDATA[Depth camera parameters]]>
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:choice maxOccurs="unbounded">
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                    <xsd:element name="output" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">
                                                <![CDATA[Type of output]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                            </xsd:choice>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice maxOccurs="1" minOccurs="0">
                    <xsd:element name="noise">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">
                                <![CDATA[The properties of the noise model that should be applied to generated images]]>
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:choice maxOccurs="unbounded">
                                <xsd:choice maxOccurs="1" minOccurs="1">
                                    <xsd:element name="type" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">
                                                <![CDATA[The type of noise.  Currently supported types are: "gaussian" (draw additive noise values independently for each pixel from a Gaussian distribution).]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="0">
                                    <xsd:element name="mean" type="xsd:double">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">
                                                <![CDATA[For type "gaussian," the mean of the Gaussian distribution from which noise values are drawn.]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="0">
                                    <xsd:element name="stddev" type="xsd:double">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">
                                                <![CDATA[For type "gaussian," the standard deviation of the Gaussian distribution from which noise values are drawn.]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                            </xsd:choice>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
                <xsd:choice maxOccurs="1" minOccurs="0">
                    <xsd:element name="distortion">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">
                                <![CDATA[Lens distortion to be applied to camera images. See http://en.wikipedia.org/wiki/Distortion_(optics)#Software_correction]]>
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:choice maxOccurs="unbounded">
                                <xsd:choice maxOccurs="1" minOccurs="0">
                                    <xsd:element name="k1" type="xsd:double">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">
                                                <![CDATA[The radial distortion coefficient k1]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="0">
                                    <xsd:element name="k2" type="xsd:double">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">
                                                <![CDATA[The radial distortion coefficient k2]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="0">
                                    <xsd:element name="k3" type="xsd:double">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">
                                                <![CDATA[The radial distortion coefficient k3]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="0">
                                    <xsd:element name="p1" type="xsd:double">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">
                                                <![CDATA[The tangential distortion coefficient p1]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="0">
                                    <xsd:element name="p2" type="xsd:double">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">
                                                <![CDATA[The tangential distortion coefficient p2]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:choice maxOccurs="1" minOccurs="0">
                                    <xsd:element name="center" type="vector2d">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">
                                                <![CDATA[The distortion center or principal point]]>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                            </xsd:choice>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
            </xsd:choice>
            <xsd:attribute default="__default__" name="name" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <![CDATA[An optional name for the camera.]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>